# Working with dates and times with PySPEDAS/PyTplot

**By Eric Grimes, UCLA - Earth, Planetary, and Space Sciences; egrimes(at)igpp.ucla.edu**

This notebook includes examples of working with date/time values in PySPEDAS and PyTplot

In [ ]:
!pip install pyspedas

Time values in PyTplot variables are stored as unix times in UTC:

https://en.wikipedia.org/wiki/Unix_time

We have routines for working with times, including:

`time_double`: convert a string to a unix time

In [4]:
from pyspedas import time_double

In [5]:
time_double('2015-10-16/13:06')

1445000760.0

This also accepts a list of time values

In [6]:
time_double(['2015-10-16/13:06', '2015-10-16/13:07:01'])

[1445000760.0, 1445000821.0]

The input format for the string is extremely flexible, e.g.,

In [7]:
time_double('Oct 16, 2015 at 13:06')

1445000760.0

To convert a unix time back to a string, use `time_string`

In [8]:
from pyspedas import time_string

In [9]:
time_string(1445000760.0)

'2015-10-16 13:06:00.000000'

This also accepts lists of times, e.g.,

In [10]:
time_string([1445000760.0, 1445000821.0])

['2015-10-16 13:06:00.000000', '2015-10-16 13:07:01.000000']

To change the format of the output string, use the `fmt` option, e.g.,

In [11]:
time_string([1445000760.0, 1445000821.0], fmt='%Y-%m-%d/%H:%M:%S')

['2015-10-16/13:06:00', '2015-10-16/13:07:01']

Please see the strftime cheatsheet at https://strftime.org for possible formats.
(Supported formats may vary depending on the platform being used.)

In [12]:
time_string([1445000760.0, 1445000821.0], fmt='%B %d, %Y at %H:%M')

['October 16, 2015 at 13:06', 'October 16, 2015 at 13:07']

Finally, to convert to datetime objects, use `time_datetime`

In [13]:
from pyspedas import time_datetime

In [14]:
time_datetime(1445000760.0)

datetime.datetime(2015, 10, 16, 13, 6, tzinfo=datetime.timezone.utc)

Note that this routine also accepts strings

In [15]:
time_datetime('October 16, 2015 at 13:06')

datetime.datetime(2015, 10, 16, 13, 6, tzinfo=datetime.timezone.utc)

as well as lists:

In [16]:
time_datetime(['October 16, 2015 at 13:06', 'October 16, 2015 at 13:07'])

[datetime.datetime(2015, 10, 16, 13, 6, tzinfo=datetime.timezone.utc),
 datetime.datetime(2015, 10, 16, 13, 7, tzinfo=datetime.timezone.utc)]